<% torrents.each do |t| %>
  <div class="torrent_entry_<%= t.id %>">
  <li  data-toggle="collapse" data-target="#test<%= t.id %>" class="list-group-item accordion-toggle">
    <div class="row">
      <div class="col-md-10">
        <h4><%= t.name %></h4>
      </div>
      <div class="col-md-2">
      <% if t.download and t.download.complete %>
        <h5 class="text-muted pull-right">Completed</h5>
      <% elsif t.download and t.download.started %>
        <h5 class="text-muted pull-right">Transferring</h5>
      <% elsif t.finished %>
        <h5 class="text-muted pull-right">Seeding</h5>
      <% else %>
        <h5 class="text-muted pull-right">Downloading</h5>
      <% end %>
      </div>
    </div>
    <div class="progress">
      <% if t.download %>
        <% if t.download.in_progress? %>
          <div class="progress-bar progress-bar-warning" style="width: <%= t.download.percent_complete %>%"></div> 
          <div class="progress-bar" style="width: <%= t.percent_complete * 100 - t.download.percent_complete%>%"></div>
        <% elsif t.download.complete %>
          <div class="progress-bar progress-bar-success" style="width: <%= t.download.percent_complete %>%"></div> 
        <% else %>
          <div class="progress-bar" style="width: <%= t.percent_complete * 100 - t.download.percent_complete%>%"></div>
        <% end %>
      <% else %>
        <div class="progress-bar" style="width: <%= t.percent_complete * 100 %>%"></div>
      <% end %>
    </div>
      Server: <%= t.percent_complete * 100 %>% <% if t.download and t.download.in_progress? %> Local: <%= t.download.percent_complete %>%<% end %><span class="pull-right">U:<%= t.u_rate / 1000 %>kb/s D:<%= t.d_rate / 1000%>kb/s</span>
  </li>
      
      <div class="accordion-body collapse" id="test<%= t.id %>">
        <li class="list-group-item">
          <div class="row">
            <div class="col-md-6">
              <dl>
                <dt>Added Date:</dt>
                <dd><%= t.added_date %></dd>
                <dt>Size:</dt>
                <dd><%= t.size / 1000000 %> mb</dd>
                <% if t.url != "upstream" %>
                  <dt>Torrent URL:</dt>
                  <dd><%= t.url %></dd>
                <% end %>
                <dt>Transmission host:</dt>
                <dd><%= Transmission.find(t.transmission_id).url %></dd>
              </dl>
            </div>
            <div class="col-md-6">
                <button class="btn btn-danger pull-right remove_torrent_button" torrent_id="<%= t.id %>">Remove</button>
            </div>
          </div>
        </li>
      </div>

  </div>
<% end %>
